@using MvcProje.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Müşteri ID</th>
        <th>Müşteri Adı</th>
        <th>Müşteri Soyadı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Alert</th>


    </tr>
    <tbody>
        @foreach(var mstri in Model)
        {
        <tr>
            <th>@mstri.MUSTERIID</th>
            <td>@mstri.MUSTERIAD</td>
            <td>@mstri.MUSTERISOYAD</td>
            <td><a href="/Musteri/sil/@mstri.MUSTERIID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Musteri/MusteriGetir/@mstri.MUSTERIID" class="btn btn-success">Güncelle</a></td>
            <td>@Html.ActionLink("SilButonu", "sil", new { id=mstri.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyor Musunuz=')" })</td>

        </tr>
        }
    </tbody>
</table>
<a href="/Musteri/YeniMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>
